{% extends "layout/layout.html.twig" %}

{% block title %}{{ profile.nickname }}{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ profile.nickname }} <small>{{ profile.mail }}</small></h1>
    </div>

    <hr>
{% endblock %}