{# awailable types; success, info, warning, danger #}
{% if errors is not empty %}
    {% for type, messages in errors %}
        <div class="alert alert-{{ type|escape("html_attr") }}" role="alert">
            {% for message in messages %}
                {{ message|raw }}<br/>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
